---
const today = new Date();
---

<footer>
	<div class="container">
		<!-- <div class="links">
			<a href="#">Linkedin</a>
		</div> -->
		<hr/>
		<div class="year">
			<span class="year-text">{today.getFullYear()}</span>
		  </div>
	</div>
  </footer>
  
  <style>
	footer {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  padding: 25px;
	  text-align: center;
	}
	
	.container {
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	
	.links {
	  display: flex;
	}
	
	.links a {
	  margin-left: 10px;
	}
	
	.year {
	  text-align: center;
	}
	
	.year-text {
	  font-weight: bold;
	}
	
	hr {
	  flex: 1;
	  height: 1px;
	  margin: 0 20px;
	  border: none;
	  background-color: #ccc;
	}
  </style>
  